<div id="titles">
  <div class="container">
    <div class="row centered">
      <div class="col-lg-6 col-lg-offset-3">
        <h1>Settings</h1>
      </div>
    </div><!-- row -->
  </div><!-- container -->
</div><!--  titleswrap -->


<div class="container" id="settings-form">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <h3>Account</h3>
          <%= f.input :email, required: true, autofocus: true %>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>

          <%= f.input :password, autocomplete: "off", hint: "Leave it blank if you don't want to change it.", required: false %>
          <%= f.input :password_confirmation, required: false %>
          <%= f.input :current_password, hint: "We need your current password to confirm your changes.", required: true %>

          <p id="optout">
            <strong>Unhappy?</strong> <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>
          </p>
          <h3>User Profile</h3>

          <%= f.input :first_name, label: "First name",required: false %>
          <%= f.input :last_name, label: "Last name", required: false %>
          
          <%= f.label 'University', required: false%></br>
          <%= f.collection_select :university_id, University.order(:name), :id, :name, default: false, default: current_user.university_name  %>
      
            
        </div>

        <div class="detail-action-buttons">
            <%= f.button :submit, "Update", :class =>"btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

