<div class="row post_card card" id="<%= post.id %>">
	<div class="col-md-5 subletPic hidden-sm hidden-xs">
		<% if post.image %>
			<%= construct_post_image_tag(post) %>
		<% end %>
	</div>
	<div class="col-md-5 subletPrice">
		<h1><%= number_to_currency(post.price) %>/month </h1>
	</div>
	<div class="col-md-2 subletNeighborhood">
		<h3><%= post.neighborhood_name %> </h3>
	</div>
</div>

<script>
	$('div#<%= post.id %>.post_card').click(function() {
		window.location.href = "<%= url_for post_path(post.id) %>";
	});
	// 
</script>