
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			<% if ! (@start_lease && @end_lease && @neighborhood_name) %>
				<h1 class="centered">Available Listings</h1>
			<% else %>
				<h1 class="centered">Results in <%= @neighborhood_name %> from </br> <%= @start_lease.to_s(:default) %> to <%= @end_lease.to_s(:default) %></h1>
			<% end %>
		</div>
	</div>
</div>

<%= render 'search_form' %>

<div class="container">
	<div class="row">
		<div class="col-lg-6 col-lg-offset-3">
			<% if @no_search_results %>
				<h3 class="centered">There are no available listings at this time!</h3>
			<% else %>
				<% @posts.each do |p| %>
					<%= render 'card', post: p %>
				<% end %>
			<%end%> 
			<%= will_paginate @posts  %>
		</div>
	</div>
</div>